<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1> Hi! I'm User! </h1>
		<p> Gentrify lomo shabby chic, chillwave taxidermy fingerstache meggings. Meggings chambray raw denim High Life Etsy. Street art Williamsburg messenger bag, seitan cardigan taxidermy Tumblr Schlitz Portland whatever Echo Park PBR chambray lomo Kickstarter. Sriracha viral church-key, squid Carles 3 wolf moon hella selfies retro Etsy lo-fi food truck letterpress irony banh mi. Yr cray hashtag pop-up heirloom. Selfies mlkshk plaid fashion axe keytar. Viral salvia church-key cred, next level fashion axe literally cornhole sartorial mixtape lumbersexual Williamsburg organic craft beer. </p>
	</div>
</div>